
$base: #88e7ad !default;
$background-index: #2e2e2e !default;
$font: #e3e9e4 !default;

/*黑色半透明*/
$black-opacity: rgba(0, 0, 0, 0.5) !default;
/*白色半透明*/
$white-opacity: rgba(255,255,255, 0.5) !default;



